@charset "UTF-8";

body {
    font-size: 14px;
    font-family: arial, sans-serif;
}
a, a:active, a:link, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: none;
}
main {
    margin-left: 150px;
}
h1.logo {
    margin-top: 7px;
}
.logo img {
    width: 90px;
}
header {
    display: flex;
    margin: 20px 28px 40px 20px;
}
.button {
    margin: 0 0 0 auto;
    border-radius: 4px;
    background: rgb(26, 115, 232);
    border: 1px solid rgb(26, 115, 232);
    padding: 7px 25px;
    height: 35px;
}
.button:hover {
    text-decoration: none;
}
.button:link,
.button:hover,
.button:visited {
    color:#ffffff;
}
.wrp {
    width: 600px;
    margin-bottom: 27px;
}
.pgcite a, 
.pgcite a:active,
.pgcite a:link,
.pgcite a:visited {
    color: #3C4043
}
.pgcite a:hover {
    text-decoration: none;
}
h2 {
    font-size: 20px;
    font-weight: 400;
}
h2 a {
    color: #190DAB;
}
h2 a:visited {
    color: #660099;
}
h2.h2bottom {
    margin-bottom: 20px;
}
.s-bottom-flex {
    display: flex;
}
.s-bottom-flex ul:last-of-type {
    margin-left: 32px;
}
.s-bottom-ul li {
    padding:3px 0;
}
.fa-search {
    position: absolute;
    top: 15px;
    left: 600px;
    color: #4285F4;
    font-size: 120%;
}
.form-container {
    position: relative;
    margin-left: 27px;
}
input[type="text"] {
    padding-left: 25px;
    border: 2px #eeeeee solid;
    height: 44px;
    width: 640px;
    border-radius: 22px;
    font-size: 16px;
}
input[type="text"]:focus,
input[type="text"]:hover {
    box-shadow: 0 2px 5px 0 rgba(60, 63, 67, 0.18);
}
:focus {
    outline: none;
}
footer {
    padding-left: 150px;
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    margin-top: 30px;
}
.foot-list {
    display: flex;
}
.foot-list li {
    padding-right: 27px;
}
.foot-list a {
    color: #5f6368;
}
